.nord0 {
	color: #2E3440;
	padding: 0;
}

.nord1 {
	color: #3B4252;
	padding: 0;
}

.nord2 {
	color: #434C5E;
	padding: 0;
}

.nord3 {
	color: #4C566A;
	padding: 0;
}

.nord4 {
	color: #D8DEE9;
	padding: 0;
}

.nord5 {
	color: #E5E9F0;
	padding: 0;
}

.nord6 {
	color: #ECEFF4;
	padding: 0;
}

.nord7 {
	color: #8FBCBB;
	padding: 0;
}

.nord8 {
	color: #88C0D0;
	padding: 0;
}

.nord9 {
	color: #81A1C1;
	padding: 0;
}

.nord10 {
	color: #5E81AC;
	padding: 0;
}

.nord11 {
	color: #BF616A;
	padding: 0;
}

.nord12 {
	color: #D08770;
	padding: 0;
}

.nord13 {
	color: #EBCB8B;
	padding: 0;
}

.nord14 {
	color: #A3BE8C;
	padding: 0;
}

.nord15 {
	color: #B48EAD;
	padding: 0;
}
