@font-face {
	font-family: 'fira';
	src:  url('FiraCode-Retina.ttf') format('ttf'),
	local('FiraCode-Retina');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'fira';
	src:  url('FiraCode-Light.ttf') format('ttf'),
	local('FiraCode-Light');
	font-style: normal;
	font-weight: lighter;
}


html, body{
	margin: 0;
	padding: 0;
	background-color: #2E3440;
	color: #5E81AC;
	font-size: 14px;
}

* {
	font-family: 'fira';
	font-weight: bold;
}

#container {
	position: absolute;
	padding: 0 20px 0 20px;
	top: 35%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: auto;
}

#header {
	-webkit-box-shadow: 1px 1px 20px 0px #000;
	-moz-box-shadow: 1px 1px 20px 0px #000;
	box-shadow: 1px 1px 20px 0px #000;
	background-color: #D8DEE9;
	margin: 4px;
	padding: 8px;
	border: 5px solid #D8DEE9;
}

h3 {
	font-size: 14px;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 0;
}

form {
	display: inline;
}

input 	{
	display: inline;
	background: none;
	border: none;
	color: #BF616A;
	width: 70%;
	font-size: 14px;
}

#links {
	display: -moz-box;
	display: -webkit-box;
	width: 100%;
}

.linksbox {
	-webkit-box-shadow: 1px 1px 20px 0px #000;
	-moz-box-shadow: 1px 1px 20px 0px #000;
	box-shadow: 1px 1px 20px 0px #000;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	margin: 4px;
	padding: 8px 8px 8px 8px;
	background-color: #D8DEE9;
	border: 5px solid #D8DEE9;
}

.linksbox h3 {
	padding-bottom: 5px;
}

.linksbox a{
	display: block;
	text-decoration: none;
}

.linksbox a.general{
	color: #C37318;
	padding: 0;
}

.linksbox a.general:hover{
	color: #75450E;
	text-decoration: underline;
}

.linksbox a.reddit{
	color: #34961E;
	padding: 0;
}

.linksbox a.reddit:hover{
	color: #1F5A12;
	text-decoration: underline;
}

.linksbox a.univ{
	color: #4C4CF3;
	padding: 0;
}

.linksbox a.univ:hover{
	color: #2D2D91;
	text-decoration: underline;
}
